@import url('/css/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

/* variables */
:root {
  --bg-color: #FFFFFF;
  --primary: #A4CFEF;
  --secondary: #6B41A6;
  --thirdary: #FDD78C;
  --fourthary: #92735F;
  --fifthary: #F24949;
  --text-color: #91857C;
}

body, html {
  font-size: 20px;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.4rem;
  height: 100%;
}

header {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#footer--top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0 4rem;
}

nav a {
  display: block;
  line-height: 1.2rem;
}

#copyright {
  text-align: center;
}

a {
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  filter: brightness(65%);
}

a[disabled] {
  filter: brightness(65%);
  font-weight: 400;
}

.content a {
  border-bottom: 1px solid;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
}

small {
  font-size: 0.6rem;
}

.entry img {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 25px 0;
  border-radius: 2px;
}

.wrapper {
  width: 60%;
  max-width: 515px;
  margin: 0 auto;
}

.page-name {
  font-size: 1.5rem;
  font-family: 'Georgia', serif;
  margin-left: 0.5rem;
}

/* GoodMus */

.video-container {
    position: relative;
    padding-bottom: 51.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  body, html {
    font-size: 16px;
  }

  .wrapper {
    width: 90%;
  }
}

.effofex {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.effofex h1 {
  font-size: 4vw;
  line-height: 1.5em;
}

.effofex-link {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -3px;
  font-size: 0.9em;
}

.hero {
  margin: 6rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero--inner {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.circles {
  display: flex;
  padding: 1rem;
}

.circle {
  overflow: hidden;
  max-width: 12rem;
  max-height: 12rem;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  border-radius: 50%;
}

.circle--md {
  border: none;
  width: 5rem;
  height: 5rem;
  max-width: 5rem;
  max-height: 5rem;
}

.circle--sm {
  border: none;
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
}

.circle--xs {
  border: none;
  width: 1rem;
  height: 1rem;
  align-self: flex-end;
  max-width: 1rem;
  max-height: 1rem;
}

.header-circles {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

@media (prefers-color-scheme: dark) {

}
