---
layout: default
title: My Projects
description: Here are few projects I've created or worked on.
---
<!-- categories: Software, Art, Music, Food, Furniture, Architecture -->

{% assign projects = site.projects %}
<ul class='list--project'/>
  {% for project in projects reversed %}{% unless project.sub %}
  <li>
    <div class='list--project-content'>
      <a href="{{ project.url }}" title="{{project.description}}">
        <h3>{{ project.name }}</h3>
      </a>
      <small class={%if project.category == 'Software' %}'primary-category'{% endif %}>{{ project.category }}</small><br />
      <p>{{ project.short_description }}</p>
      {% for tag in project.tags %}
      <small class='tag'>{{ tag }}{%unless tag == project.tags.last %},{% endunless %}</small>
      {% endfor %}
    </div>
  </li>
  {% endunless %}{% endfor %}
</ul>
<!-- <h3 class='center'>Articles in the works</h3>
<ul class='list--project'>
  <li><b>Pixinote</b> – Resolving massive technical debt on a large <i>React Native</i> project with a microservices backend architecture written in <i>Go</i>.</li>
  <li><b>Pixinote 2</b> – Going from an adhoc payments system to a subscriptions system using <i>Stripe, React Native and Go</i>.</li>
  <li><b>Actimedean</b> – Active truncated octaghedron speakers.</li>
  <li><b>Patronish</b> — Video based question and answer platform in <i>React</i> with mobile Safari support.</li>
  <li><b>GreenZome</b> — Model greenhouse skeletal structure using very special 3d printed connectors.</li>
  <li><b>Current Route</b> — Using <i>React Native</i> to build an iOS client with a <i>Ruby on Rails API-only</i> backend.</li>
  <li><b>CLVR TV</b> — Building an e-commerce platform with products placed in interactive videos.</li>
</ul> -->
