      <footer>
        <div id="footer--top">
          <nav>
            <a href="/projects">Projects</a>
            <!-- <a href="/concepts/">Concepts</a> -->
            <a href="/about">About</a>
          </nav>
          <div class='circles'>
            {% if page.url != '/' %}
            <a href="/" style="line-height: 1">
            {% endif %}
              <div class='circle circle--md'></div>
            {% if page.url != '/' %}
            </a>
            {% endif %}
            <div class='circle circle--xs'></div>
          </div>
        </div>
        <nav id="copyright">
          <small><a href="//twitter.com/levivoelz" target="_blank">@levivoelz</a></small>
        </nav>
      </footer>
    </div>
    {% include ga.html %}
    <script>
      (function() {
        try {
          document
            .querySelector("nav a[href='" + window.location.pathname + "']")
            .setAttribute('disabled', true);
        } catch(e) {}
      })();
    </script>
  </body>
</html>
