<header>
  <div class="hero">
    <div class="hero--inner">
      <div id="circle-orbit-container">
        <div id="outer-orbit">
          <div class="outer-orbit-cirlces"></div>
        </div>
        <div id="circle">
          {% if page.hero %}
          {% if page.allow_expand_hero %}
            <a href={{page.hero}} style="line-height: 1">
          {% elsif page.url != '/' %}
            <a href="/" style="line-height: 1">
          {% endif %}
          <img src="{{ page.hero }}" {% if page.hero_color %} style="background-color: {{ page.hero_color }}" {% endif %}/>
          {% endif %}
          {% if page.url != '/' or page.allow_expand_hero %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
