<div class='subscribe'>
  <h3>Like what you read?</h3>
  <p>Show your support by subscribing. I'll let you know I deploy another article.</p>
  <p>
  <a class="typeform-share button" href="https://form.typeform.com/to/ECx7bSsR?typeform-medium=embed-snippet" data-mode="popup" data-size="70" target="_blank">Sign up</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  </p>
</div>
