<div class='subscribe'>
  <h3>Wowza! Nice work.</h3>
  <p>
    <p>
    <b>Get notified when I deploy another article</b>. I'll shoot you an email when it's live. No spam.
  </p>
  <p>
  <a class="typeform-share button" href="https://form.typeform.com/to/ECx7bSsR?typeform-medium=embed-snippet" data-mode="popup" data-size="70" target="_blank">Enable Notifications</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  </p>
</div>
