<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %} Levi Voelz</title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    {% if page.nofollow %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://levivoelz.com{{ page.url }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} {% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }} {% endif %}">
    <meta name="twitter:image" content="{% if page.featured_image %}http://levivoelz.com{{ page.featured_image }} {% endif %}">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav>
          <a class="btn btn-default" href="/" aria-label="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> <a class="btn btn-default" href="/about.html" aria-label="About"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
        </nav>
      </header>
    	<div class="content clearfix">
        {{ content }}
      </div>
      <footer>
        <small>© 2016 Levi Voelz</small>
      </footer>
    </div>
  </body>
</html>
