---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
	<div class="date">
	  <small>{{ page.date | date: "%B %e, %Y" }}</small>
	</div>
  <div class="entry">
    {{ content }}
  </div>
</article>
<div class='subscribe'>
  <h3>Wowza! Nice work.</h3>
  <p>
    I didn't know if anyone was picking up what I was putting down, but you know that you've read this much and I know you know that, which makes me feel good.</p>
    <p>
    <b>Get notified when I deploy another article</b>. I'll shoot you an email when it's live. No spam. Just a simple notification that says, <i>"Hey {{"{{contact.first_name"}}}}, here's my new article about {{"{{project.title"}}}}"</i>. ;-)
  </p>
  <p>
  <a class="typeform-share button" href="https://form.typeform.com/to/ECx7bSsR?typeform-medium=embed-snippet" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#9CB1C9;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="70" target="_blank">Enable Notifications</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  </p>
</div>
